# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
._*
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
/nbproject/

# application specific
/www/
/Manifest.json
/translation/pot/
/source/dox/
/vendor/
/composer.lock
/composer.phar