# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
/nbproject/

# application specific
/vendor/
/vnd/
/www/
/Manifest.json
/translation/mo/
/translation/pot/